<!DOCTYPE html>



<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>eWallet</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ6GNMohr9WUdgf6TxtviglClSNpmBe4VkR-AnSygIBc5sEnhMwxCTLxOg9jHDrJxHL6Q&usqp=CAU"
          type="image/x-icon">

    <link href="~/Content/downloaded_css/w3.css" rel="stylesheet" />

    <script src="~/Scripts/script/jquery-3.6.0.js"></script>
    <script src="~/Scripts/script/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("e-Wallet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sign-Up", "UserAccount", "Home")</li>
                    <li>@Html.ActionLink("Cash-In", "CashIn", "Home")</li>
                    <li>@Html.ActionLink("Cash-Out", "CashOut", "Home")</li>
                    <li>@Html.ActionLink("Money-Transfer", "MoneyTransfer", "Home")</li>
                    <li>@Html.ActionLink("Inquiry", "Inquiry", "Home")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
